@import "global.css";
@import "navbar.css";
@import "footer.css";

/*google map css*/
.contact .mapouter {
    text-align: right;
    height: 600px;
    width: 600px;
    z-index: 0;
}

.contact .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 600px;
}


/*contact body css*/

.contact .row p {
    margin: 0;
    padding: 0 0 0.4rem 1.2rem;
}



