@import "global.css";
@import "navbar.css";
@import "footer.css";

.contact{
    background: #EDEDED;
}

/*google map css*/
.contact .mapouter {
    text-align: right;
    height: 600px;
    width: 600px;
    z-index: 0;
}

.contact .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 600px;
    width: 600px;
}


/*contact body css*/

.contact .row p {
    margin: 0;
    padding: 0 0 0.4rem 1.2rem;
}

.contact .card:hover{
    -webkit-box-shadow: 3px 4px 23px -1px rgba(168,173,168,1);
    -moz-box-shadow: 3px 4px 23px -1px rgba(168,173,168,1);
    box-shadow: 3px 4px 23px -1px rgba(168,173,168,1);
}

.card{
    margin-bottom: 10px !important;
}

.card div.contact-info p{
    padding-left: 0;
}

.card a{
    margin-top: 2rem !important;
    color: #454545;
    text-decoration: none !important;
}


