@import url('./global.css');
@import url('./navbar.css');
@import url('./footer.css');


/*caurosel*/

.customCaurosel {
    height: 150px;
}

/*overlay*/
#carouselExampleControls .overlay {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    top: 0;
    opacity: 0.6;
}

/*services Cards*/

section.service {
    background: #c7cdd6;
    background: linear-gradient(to right, #ffffff, #c7cdd6);
}

.services-card {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.services-card {
    min-height: 200px;
}

.services-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.service .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    .service .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .service .card:hover .btn {
        opacity: 1;
    }
}


/*pricing cards*/

section.pricing {
    background: #c7cdd6;
    background: linear-gradient(to right, #c7cdd6, #ffffff);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

section.nettvfeature {
    background: #ADA996;
    background: linear-gradient(to right, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
}

.nettvfeature .content {
    transition: 0.3s;
    padding: 2rem;
}

.nettvfeature .content:hover {
    transform: scale(1.05);
}


/* footer css */


/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}