* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.1rem;
    letter-spacing: 1.4px;
}

nav {
    margin: 2px;
    background: #F6F6F8;
}

.navbar {
    padding: 0 !important;
}

.custom_container-fluid {
    margin-top: 0.7%;
}

.navbar-nav .nav-item {
    padding-right: 1.3rem;
}

.navbar-nav .nav-item>a {
    font-size: 1rem;
    color: black !important;
    transition: 0.5s;
}

.navbar-nav .nav-item a:hover {
    background: rgb(219, 219, 226);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.customCaurosel {
    height: 150px;
}

.card {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.services-card {
    min-height: 400px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    margin: 0 !important;
}

