* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    font-size: 1.1rem;
    letter-spacing: 1.4px;
    text-decoration: none;
}
hr{
    margin-bottom: 0;
}
nav {
    margin: 2px;
    background: #F6F6F8;
}

/*above navbar*/
.customNabar .header * {
    margin: 0;
}

.customNabar .header {
    padding: 0.3rem;
    background: red;
}

.customNabar .header p {
    padding-right: 3px;
}

.customNabar .header .list p a {
    transition: 0.3s;
    color: white;
}

.customNabar .header .list p a:hover {
    color: black;
}

/*Navbar starts from here*/

.custom_container-fluid {
    margin-top: 0.7%;
}

.navbar-nav .nav-item {
    padding-right: 1.3rem;
}

.navbar-nav .nav-item > a {
    font-size: 1rem;
    color: black !important;
    transition: 0.5s;
}

.navbar-nav .nav-item a:hover {
    background: rgb(219, 219, 226);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

/*caurosel*/

.customCaurosel {
    height: 150px;
}

/*services Cards*/

section.service {
    background: #c7cdd6;
    background: linear-gradient(to right, #ffffff, #c7cdd6);
}

.services-card {
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.services-card {
    min-height: 200px;
}

.services-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.service .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

@media (min-width: 992px) {
    .service .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .service .card:hover .btn {
        opacity: 1;
    }
}

/*pricing cards*/
section.pricing {
    background: #c7cdd6;
    background: linear-gradient(to right, #c7cdd6, #ffffff);
}

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
    margin: 1.5rem 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing ul li {
    margin-bottom: 1rem;
}

.pricing .text-muted {
    opacity: 0.7;
}

.pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .pricing .card:hover .btn {
        opacity: 1;
    }
}



